.main {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.main::after {
  content: '';
  left: 30%;
  top: 10%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
  background: var(--primary-glow);
  width: 640px;
  height: 440px;
  z-index: -1;
}

@media screen and (max-width: 800px) {
  .main::after {
    left: 23%;
    width: 300px;
    height: 240px;
    top: 10%;
  }
}
